<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.sccheck.mapper.CodeMarkTypeMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.cs.sccheck.model.CodeMarkType" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Uid" property="uid" jdbcType="VARCHAR" />
    <result column="MarkCode" property="markCode" jdbcType="VARCHAR" />
    <result column="MarkName" property="markName" jdbcType="VARCHAR" />
    <result column="SpecialCode" property="specialCode" jdbcType="VARCHAR" />
    <result column="SpecialName" property="specialName" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CheckFlag" property="checkFlag" jdbcType="CHAR" />
    <result column="RightCodes" property="rightCodes" jdbcType="VARCHAR" />
    <result column="RightNames" property="rightNames" jdbcType="VARCHAR" />
    <result column="LeaderCodes" property="leaderCodes" jdbcType="VARCHAR" />
    <result column="LeaderNames" property="leaderNames" jdbcType="VARCHAR" />
    <result column="IsVlid" property="isVlid" jdbcType="CHAR" />
    <result column="CreatTime" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="SetUserUid" property="setUserUid" jdbcType="VARCHAR" />
    <result column="SetUserName" property="setUserName" jdbcType="VARCHAR" />
    <result column="SetDeptCode" property="setDeptCode" jdbcType="VARCHAR" />
    <result column="DutyDeptCode" property="dutyDeptCode" jdbcType="VARCHAR" />
    <result column="DutyDeptName" property="dutyDeptName" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="CodeMarkTypeDto" type="com.icinfo.cs.sccheck.dto.CodeMarkTypeDto" extends="BaseResultMap">
  </resultMap>
  
  <select id="selectListByParams" resultMap="BaseResultMap" parameterType="map">
	 SELECT
	 	MarkCode,
		MarkName,
		SpecialCode,
		SpecialName
	from cs_code_mark_type
	where 1=1
	<if test="dutyDeptCode !='' and dutyDeptCode !=null">
		AND DutyDeptCode = #{dutyDeptCode}
	</if>
	<if test="isVlid !='' and isVlid !=null">
		and IsVlid = #{isVlid}
	</if>
	<if test="specialCode !='' and specialCode !=null">
		and SpecialCode = #{specialCode}
	</if>
	<if test="markName !='' and markName !=null">
		and MarkName = #{markName}
	</if>
	<if test="dutyDeptCodeArr !=null and dutyDeptCodeArr!=''">
		<foreach item="item" index="index" collection="dutyDeptCodeArr" open="AND ("
			separator="OR" close=")">
			DutyDeptCode like concat('%',#{item},'%')
		</foreach>
	</if>
	</select>
	
	<select id="selectByParams" resultMap="CodeMarkTypeDto" parameterType="map">
	 SELECT
	 	Uid,
	 	MarkCode,
		MarkName,
		SpecialCode,
		SpecialName,
		Remark,
		CheckFlag,
		RightCodes,
		LeaderCodes,
		IsVlid,
		CreatTime,
		SetUserName,
		DutyDeptCode,
		DutyDeptName
	from cs_code_mark_type
	where 1=1
	<if test="isVlid !='' and isVlid !=null">
		and IsVlid = #{isVlid}
	</if>
	<if test="markName !='' and markName !=null">
		and MarkName like concat('%',#{markName},'%')
	</if>
	<if test="dutyDeptCodeArr !=null and dutyDeptCodeArr!=''">
		<foreach item="item" index="index" collection="dutyDeptCodeArr" open="AND ("
			separator="OR" close=")">
			DutyDeptCode like concat('%',#{item},'%')
		</foreach>
	</if>
	<if test="dutyDeptCode !='' and dutyDeptCode !=null">
		and DutyDeptCode = #{dutyDeptCode}
	</if>
	<if test="specialCode !='' and specialCode !=null">
		and SpecialCode = #{specialCode}
	</if>
	<if test="setUserName !='' and setUserName !=null">
		and SetUserName = #{setUserName}
	</if>
	<include refid="com.icinfo.cs.system.mapper.CSMapper.defaultByOrgCode"/>
	</select>
	
	
	<select id="selectMaxMarkCode" resultType="java.lang.String" parameterType="java.lang.String">
	 SELECT
	 	Max(MarkCode)
		from cs_code_mark_type
		where  DutyDeptCode = #{dutyDeptCode}
	</select>
</mapper>