<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.yr.mapper.SubcapitalMapper">
	<resultMap id="BaseResultMap" type="com.icinfo.cs.yr.model.Subcapital">
		<!-- WARNING - @frameworkgenerated -->
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="Inv" property="inv" jdbcType="VARCHAR" />
		<result column="InvID" property="invID" jdbcType="VARCHAR" />
		<result column="AcConDate" property="acConDate" jdbcType="DATE" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="ConFormCN" property="conFormCN" jdbcType="VARCHAR" />
		<result column="AcConFormCn" property="acConFormCn" jdbcType="VARCHAR" />
		<result column="AnCheID" property="anCheID" jdbcType="VARCHAR" />
		<result column="LIACCONAM" property="liacconam" jdbcType="DECIMAL" />
		<result column="LISUBCONAM" property="lisubconam" jdbcType="DECIMAL" />
		<result column="InvRegNO" property="invRegNO" jdbcType="VARCHAR" />
		<result column="AcConForm" property="acConForm" jdbcType="VARCHAR" />
		<result column="SubConForm" property="subConForm" jdbcType="VARCHAR" />
		<result column="SubConDate" property="subConDate" jdbcType="DATE" />
	</resultMap>

	<resultMap id="BaseResultMapDto" type="com.icinfo.cs.yr.dto.SubcapitalDto">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="Inv" property="inv" jdbcType="VARCHAR" />
		<result column="InvID" property="invID" jdbcType="VARCHAR" />
		<result column="AcConDate" property="acConDate" jdbcType="DATE" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="ConFormCN" property="conFormCN" jdbcType="VARCHAR" />
		<result column="AcConFormCn" property="acConFormCn" jdbcType="VARCHAR" />
		<result column="AnCheID" property="anCheID" jdbcType="VARCHAR" />
		<result column="LIACCONAM" property="liacconam" jdbcType="DECIMAL" />
		<result column="LISUBCONAM" property="lisubconam" jdbcType="DECIMAL" />
		<result column="InvRegNO" property="invRegNO" jdbcType="VARCHAR" />
		<result column="AcConForm" property="acConForm" jdbcType="VARCHAR" />
		<result column="SubConForm" property="subConForm" jdbcType="VARCHAR" />
		<result column="SubConDate" property="subConDate" jdbcType="DATE" />
		<result column="AltItem" property="altItem" jdbcType="VARCHAR" />
        <result column="AltTable" property="altTable" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 根据年报id保存公示信息 -->
	<insert id="insertByAnCheID" parameterType="Map">
		INSERT INTO cs_subcapital (
		Inv, InvID, AcConDate, CreateTime, ConFormCN, AcConFormCn, AnCheID,
		LIACCONAM, LISUBCONAM, InvRegNO, AcConForm, SubConForm, SubConDate
		)
		SELECT
		Inv, InvID, AcConDate, CreateTime, ConFormCN, AcConFormCn, AnCheID,
		LIACCONAM, LISUBCONAM, InvRegNO, AcConForm, SubConForm, SubConDate
		FROM
		cs_yr_subcapital
		WHERE
		AnCheID = #{anCheID,jdbcType=VARCHAR}
	</insert>

	<select id="selectSubcapitalInfoForPub" parameterType="Map" resultMap="BaseResultMapDto">
		SELECT id,
		Inv, InvID, AcConDate, CreateTime, ConFormCN, AcConFormCn, AnCheID,
		LIACCONAM, LISUBCONAM, InvRegNO, AcConForm, SubConForm, SubConDate,
		(SELECT GROUP_CONCAT(s.AltItem separator ',') from cs_updateinfo s where s.AnCheID  = t.AnCheID  
	      and s.AltTable = 'Subcapital'
	     and s.AltID = t.InvID) AltItem
		FROM
		cs_subcapital t
		WHERE
		t.AnCheID = #{anCheID,jdbcType=VARCHAR}
	</select>

</mapper>