<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.yr.mapper.UpdateInfoMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.cs.yr.model.UpdateInfo" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="AltDate" property="altDate" jdbcType="DATE" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="AnCheID" property="anCheID" jdbcType="VARCHAR" />
    <result column="AltTable" property="altTable" jdbcType="VARCHAR" />
    <result column="AncheUID" property="ancheUID" jdbcType="VARCHAR" />
    <result column="AltItem" property="altItem" jdbcType="VARCHAR" />
    <result column="ReportNo" property="reportNo" jdbcType="VARCHAR" />
    <result column="AltBe" property="altBe" jdbcType="LONGVARCHAR" />
    <result column="AltAf" property="altAf" jdbcType="LONGVARCHAR" />
    <result column="AltID" property="altID" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="BaseResultMapDto" type="com.icinfo.cs.yr.dto.UpdateInfoDto" extends="BaseResultMap" >
     <result column="dicValue" property="dicValue" jdbcType="VARCHAR" />
     <result column="AltItemName" property="altItemName" jdbcType="VARCHAR" />
   </resultMap>
   
   <select id="selectUpdateInfoForPub" parameterType="Map" resultMap="BaseResultMapDto">
       select t.id,t.AltDate,t.CreateTime,AnCheID,AltTable,AncheUID,AltItem,
              s.DicExlain AltItemName
              ,ReportNo,AltBe,AltAf
       from cs_updateinfo t LEFT JOIN cs_common_dic s
       on t.AltTable = s.DicColumn and LOWER(t.AltItem) = LOWER(s.DicValue)
       where t.AnCheID = #{anCheID,jdbcType=VARCHAR}
   </select>
   
   <select id="selectInfoForForbidWord" resultMap="BaseResultMapDto" parameterType="Map">
        SELECT
		t.id,
		AltDate,
		CreateTime,
		AnCheID,
		AltTable,
		AncheUID,
		ReportNo,
		AltBe,
		AltAf,
		AltID,
	    a.DicExlain AltItem,
	    a.DicValue dicValue
	FROM
		cs_updateinfo t
	INNER JOIN cs_common_dic a ON a.DicColumn = t.AltTable and a.DicValue = t.AltItem
	WHERE t.ReportNo IS NULL AND t.AnCheID = #{anCheID,jdbcType=VARCHAR} 
   </select>
   
</mapper>