<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.dzdtinfo.mapper.HzDzhyCsyspjydwbaMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.cs.dzdtinfo.model.HzDzhyCsyspjydwba" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="PRIPID" property="priPid" jdbcType="VARCHAR" />
    <result column="JYDWXZ" property="jydwxz" jdbcType="VARCHAR" />
    <result column="YSPTYPE" property="ysptype" jdbcType="VARCHAR" />
    <result column="JYPZ" property="jypz" jdbcType="VARCHAR" />
    <result column="JYMJ" property="jymj" jdbcType="DECIMAL" />
  </resultMap>
</mapper>