<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.datamodify.mapper.ApplyDataModifyMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.cs.datamodify.model.ApplyDataModify" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="Uid" property="uid" jdbcType="VARCHAR" />
    <result column="ModifyType" property="modifyType" jdbcType="CHAR" />
    <result column="PriPID" property="priPID" jdbcType="CHAR" />
    <result column="UniCode" property="uniCode" jdbcType="VARCHAR" />
    <result column="EntName" property="entName" jdbcType="VARCHAR" />
    <result column="ApplyPerson" property="applyPerson" jdbcType="VARCHAR" />
    <result column="ApplyDate" property="applyDate" jdbcType="TIMESTAMP" />
    <result column="Phone" property="phone" jdbcType="VARCHAR" />
    <result column="ApplyContent" property="applyContent" jdbcType="VARCHAR" />
    <result column="FeedbackDate" property="feedbackDate" jdbcType="TIMESTAMP" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!--获取数据-->
  <select id="selectByParams" parameterType="Map" resultMap="BaseResultMap">
    SELECT
    t1.id,
    t1.Uid,
    t1.ModifyType,
    t1.PriPID,
    t1.UniCode,
    t1.EntName,
    t1.ApplyPerson,
    t1.ApplyDate,
    t1.Phone,
    t1.ApplyContent,
    t1.FeedbackDate,
    t1.Remark,
    t1.CreateTime
    FROM
    cs_apply_data_modify t1
    <include refid="data_where"></include>
  </select>

  <!-- sql 片段 start -->
  <sql id="data_where">
    <trim prefix="WHERE" prefixOverrides="AND | OR">


      <if test="uniCode!='' and uniCode!=null">
        and  t1.UniCode =  #{uniCode}
      </if>

      <if test="entName!='' and entName!=null">
        and  t1.EntName = LIKE concat('%', #{entName},'%')
      </if>

      <if test="phone!='' and phone!=null">
        and  t1.Phone =  #{phone}
      </if>

      <if test="applyPerson!='' and applyPerson!=null">
        and  t1.ApplyPerson =  #{applyPerson}
      </if>

      <!-- 申请日期 -->
      <if test=" applyDateStart!='' and applyDateStart!=null">
        <![CDATA[   AND  t1.ApplyDate >=  DATE_FORMAT(#{applyDateStart}, '%Y-%m-%d')   ]]>
      </if>

      <if test=" applyDateEnd!='' and applyDateEnd!=null">
        <![CDATA[   AND  t1.ApplyDate <=  DATE_FORMAT(#{applyDateEnd}, '%Y-%m-%d')   ]]>
      </if>

      <!-- 反馈日期-->
      <if test=" feedbackDateStart!='' and feedbackDateStart!=null">
        <![CDATA[   AND  t1.FeedbackDate >=  DATE_FORMAT(#{feedbackDateStart}, '%Y-%m-%d')   ]]>
      </if>

      <if test=" writReceiveTimeEnd!='' and writReceiveTimeEnd!=null">
        <![CDATA[   AND  t1.feedbackDateEnd <=  DATE_FORMAT(#{feedbackDateEnd}, '%Y-%m-%d')   ]]>
      </if>

    </trim>

  </sql>



</mapper>