<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.im.mapper.ImInvupdateMapper">
	<resultMap id="BaseResultMap" type="com.icinfo.cs.im.model.ImInvupdate">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="PriPID" property="priPID" jdbcType="CHAR" />
		<result column="EntName" property="entName" jdbcType="VARCHAR" />
		<result column="RegNO" property="regNO" jdbcType="CHAR" />
		<result column="UniCode" property="uniCode" jdbcType="CHAR" />
		<result column="AltDate" property="altDate" jdbcType="DATE" />
		<result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="InvID" property="invID" jdbcType="VARCHAR" />
		<result column="AltAfContent" property="altAfContent" jdbcType="LONGVARCHAR" />
		<result column="AltBeContent" property="altBeContent" jdbcType="LONGVARCHAR" />
		<result column="AltItemContent" property="altItemContent"
			jdbcType="LONGVARCHAR" />
	</resultMap>

	<resultMap id="ImInvupdateDto" type="com.icinfo.cs.im.dto.ImInvupdateDto">
	</resultMap>

	<select id="queryList" resultMap="ImInvupdateDto" parameterType="Map">
		SELECT
			*
		FROM
			cs_im_invupdate A
		WHERE
		1=1
		<if test="priPID !='' and priPID !=null">
			and A.PriPID =#{priPID}
		</if>
	</select>

</mapper>