<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.base.mapper.CodeRegunitMapper">
    <resultMap id="BaseResultMap" type="com.icinfo.cs.base.model.CodeRegunit">
        <!--
          WARNING - @frameworkgenerated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="SupCode" property="supCode" jdbcType="VARCHAR"/>
        <result column="Content" property="content" jdbcType="VARCHAR"/>
        <result column="Code" property="code" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="selectToTreeMapResultMap" type="java.util.HashMap">
        <result property="id" column="id" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="name" column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="pId" column="pId" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="nocheck" column="nocheck" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectCodeRegunitAll" resultMap="BaseResultMap">
	SELECT t.id,t.SupCode,t.Content,t.Code FROM   cs_code_regunit t order by t.code
  </select>
    <select id="selectToTreeMap" resultMap="selectToTreeMapResultMap">
        SELECT CODE id,content name,sup_code pId FROM( SELECT SUBSTR(CODE, 1, 2) CODE, SUBSTR(content, 1, 3) content,
        '0' SUP_CODE
        FROM cs_code_regunit WHERE CODE LIKE '%000000' AND CODE != '100000'
        <if test="content != null and content != ''">
	    AND EXISTS (SELECT 1 FROM cs_code_regunit WHERE CODE != '100000' AND CODE != '999999' AND content LIKE CONCAT('%',#{content},'%'))
	    </if> 
        UNION 
        SELECT SUBSTR(CODE,
        1, 4) CODE, SUBSTR(content, 1, 3) content, '33' SUP_CODE FROM cs_code_regunit WHERE CODE LIKE
        '%0000' AND CODE != '100000' 
        <if test="content != null and content != ''">
		AND SUBSTR(CODE, 1, 4) IN (
		SELECT SUBSTR((CASE WHEN CODE LIKE '%00' THEN CODE ELSE supCode END),1,4) SUP_CODE FROM cs_code_regunit WHERE CODE != '100000' AND CODE != '999999'
		AND content LIKE CONCAT('%',#{content},'%')
		)
        </if>
        UNION 
        SELECT SUBSTR(CODE, 1, 6) CODE, content, SUBSTR(CODE, 1,
        4) SUP_CODE FROM cs_code_regunit WHERE CODE LIKE '%00' AND CODE != '100000' AND CODE != '999999'
        <if test="content != null and content != ''">
		AND SUBSTR(CODE, 1, 6) IN (
		SELECT SUBSTR((CASE WHEN CODE LIKE '%00' THEN CODE ELSE supCode END),1,6) SUP_CODE FROM cs_code_regunit WHERE CODE != '100000' AND CODE != '999999'
		AND content LIKE CONCAT('%',#{content},'%')
		)
        </if>
        UNION 
        SELECT CODE, content, SUBSTR(CODE, 1,6) SUP_CODE FROM cs_code_regunit 
        WHERE CODE LIKE '%00' AND CODE != '100000' AND CODE != '999999'
        <if test="content != null and content != ''">
           and content LIKE CONCAT('%',#{content},'%')
        </if>
        UNION 
        SELECT CODE, content, SUBSTR(supCode, 1, 6) SUP_CODE FROM
        cs_code_regunit WHERE CODE NOT LIKE '%00' AND CODE != '100000' AND CODE != '999999' 
        <if test="content != null and content != ''">
          and content LIKE CONCAT('%',#{content},'%')
        </if>
        ) t
        <where>
            <!--权限字段。add by lihq -->
            <if test="regUnit_permission_limit!=null and regUnit_permission_limit !=''">
                t.code LIKE CONCAT(#{regUnit_permission_limit},'%')
            </if>
        </where>
        ORDER BY SUP_CODE, CODE
    </select>
    <select id="selectToTreeNoCheckMap" resultMap="selectToTreeMapResultMap" parameterType="map">
        SELECT CODE id,content name,sup_code pId ,nocheck FROM( SELECT SUBSTR(CODE, 1, 2) CODE, SUBSTR(content, 1, 3)
        content, '0' SUP_CODE ,'true' AS nocheck
        FROM cs_code_regunit WHERE CODE LIKE '%000000' AND CODE != '100000' 
        <if test="content != null and content != ''">
	    AND EXISTS (SELECT 1 FROM cs_code_regunit WHERE CODE != '100000' AND CODE != '999999' AND content LIKE CONCAT('%',#{content},'%'))
	    </if> 
        UNION 
        SELECT SUBSTR(CODE,
        1, 4) CODE, SUBSTR(content, 1, 3) content, '33' SUP_CODE,'true' AS nocheck FROM cs_code_regunit WHERE CODE LIKE
        '%0000' AND CODE != '100000' 
        <if test="content != null and content != ''">
		AND SUBSTR(CODE, 1, 4) IN (
		SELECT SUBSTR((CASE WHEN CODE LIKE '%00' THEN CODE ELSE supCode END),1,4) SUP_CODE FROM cs_code_regunit WHERE CODE != '100000' AND CODE != '999999'
		AND content LIKE CONCAT('%',#{content},'%')
		)
        </if>
        UNION 
        SELECT SUBSTR(CODE, 1, 6) CODE, content, SUBSTR(CODE, 1,
        4) SUP_CODE,'true' AS nocheck FROM cs_code_regunit WHERE CODE LIKE '%00' AND CODE != '100000' AND CODE !=
        '999999'
        <if test="content != null and content != ''">
		AND SUBSTR(CODE, 1, 6) IN (
		SELECT SUBSTR((CASE WHEN CODE LIKE '%00' THEN CODE ELSE supCode END),1,6) SUP_CODE FROM cs_code_regunit WHERE CODE != '100000' AND CODE != '999999'
		AND content LIKE CONCAT('%',#{content},'%')
		)
        </if>
        UNION SELECT CODE, content, SUBSTR((CASE WHEN CODE LIKE '%00' THEN CODE ELSE supCode END), 1, 6) SUP_CODE ,'' AS nocheck FROM
        cs_code_regunit WHERE CODE != '100000' AND CODE != '999999'
        <if test="content != null and content != ''">
          and content LIKE CONCAT('%',#{content},'%')
        </if>
         ) t
        <where>
            <!--权限字段。add by lihq -->
            <if test="regUnit_permission_limit!=null and regUnit_permission_limit !=''">
                t.code LIKE CONCAT(#{regUnit_permission_limit},'%')
            </if>
        </where>
        ORDER BY SUP_CODE, CODE
    </select>

    <select id="selectProv" resultMap="selectToTreeMapResultMap" parameterType="map">
   SELECT
      CODE id,
      content NAME,
      sup_code pId,
      nocheck
    FROM
      (SELECT
        SUBSTR(CODE, 1, 2) CODE,
        SUBSTR(content, 1, 3) content,
        '0' SUP_CODE,
        #{nocheck}  AS nocheck
      FROM
        cs_code_regunit
      WHERE CODE LIKE '%000000'
        AND CODE != '100000'
      <if test="content != null and content != ''">
       AND EXISTS (SELECT 1 FROM cs_code_regunit WHERE CODE != '100000' AND CODE != '999999' AND CODE LIKE '3300%' AND content LIKE CONCAT('%',#{content},'%'))
      </if> 
      UNION
      SELECT
        SUBSTR(CODE, 1, 4) CODE,
        SUBSTR(content, 1, 3) content,
        '33' SUP_CODE,
        #{nocheck}  AS nocheck
      FROM
        cs_code_regunit
      WHERE CODE LIKE '%0000'
        AND CODE != '100000'
        AND CODE = '33000000'
        <if test="content != null and content != ''">
        AND SUBSTR(CODE, 1, 4) IN (SELECT SUBSTR(CODE, 1, 4) FROM cs_code_regunit WHERE  content LIKE CONCAT('%',#{content},'%'))
        </if>
      UNION
      SELECT
        SUBSTR(CODE, 1, 6) CODE,
        content,
        SUBSTR(CODE, 1, 4) SUP_CODE,
        #{nocheck}  AS nocheck
      FROM
        cs_code_regunit
      WHERE CODE LIKE '%00'
        AND CODE != '100000'
        AND CODE != '999999'
        AND CODE LIKE '3300%'
        <if test="content != null and content != ''">
          and content LIKE CONCAT('%',#{content},'%')
        </if>
      UNION
      SELECT
        CODE,
        content,
        SUBSTR(CODE, 1, 6) sup_code,
        '' AS nocheck
      FROM
        cs_code_regunit
      WHERE CODE != '100000'
        AND CODE != '999999'
        AND CODE LIKE '3300%'
        <if test="content != null and content != ''">
          and content LIKE CONCAT('%',#{content},'%')
        </if>) t
    </select>


    <select id="selectArea" resultMap="selectToTreeMapResultMap" parameterType="map">
        SELECT
          SUBSTR(CODE, 1, 4) id,
          SUBSTR(content, 1, 3) NAME,
          '33' pId
        FROM
          cs_code_regunit
        WHERE CODE LIKE '%0000'
          AND CODE != '100000'
          ORDER BY CODE
    </select>

</mapper>