<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.base.mapper.CodeEntTypeMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.cs.base.model.CodeEntType" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="SupCode" property="supCode" jdbcType="VARCHAR" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
    <result column="Code" property="code" jdbcType="VARCHAR" /> 
  </resultMap>
</mapper>