<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icinfo.cs.other.mapper.MortCancelInfoMapper" >
  <resultMap id="BaseResultMap" type="com.icinfo.cs.other.model.MortCancelInfo" >
    <!--
      WARNING - @frameworkgenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="OriFilingNO" property="oriFilingNO" jdbcType="VARCHAR" />
    <result column="CanRea" property="canRea" jdbcType="VARCHAR" />
    <result column="CheckStatus" property="checkStatus" jdbcType="VARCHAR" />
    <result column="CheckDate" property="checkDate" jdbcType="TIMESTAMP" />
    <result column="CreateTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>